# Make a copy of this file with the name .env and populate the file with your environment variables

# Port number to run the server on
PORT=3030

# Telephony provider account SID
ACCOUNT_SID=ACxxxxxxxxxxxxxx

# Telephony provider API key SID
API_KEY_SID=SKxxxxxxxxxxxxxx

# Telephony provider API secret
API_KEY_SECRET=xxxxxxxxxxxxxx

# Telephony application SID
# The Voice Request URL must point to one of the /twiml endpoints listed in the README.
APP_SID=APxxxxxxxxxxxxxx

# Telephony provider auth token
AUTH_TOKEN=xxxxxxxxxxxxxx

# Caller ID
CALLER_ID=+11234567890

# Public base URL that the telephony provider can reach.
# If you run locally, use a secure tunneling service.
# Do not include the scheme (https:// or wss://) in the URL.
CALLBACK_BASE_URL=foo.ngrok.dev

# Default identity to use
DEFAULT_IDENTITY=alice

# AI voice assistant
# See https://platform.openai.com/settings/organization/api-keys
OPENAI_API_KEY=sk-proj.......
